*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    height: 25px;
    width: 1518px;
    background-color: rgba(0, 0, 0, 0.568);
    text-align: center;
    padding-top: 14px;
    padding-bottom: 37px;
    margin-right: auto;
    margin-left: auto;

}

nav a{
    color:white;
    text-decoration: none;
    font-size: 12px;
    padding-left: 2px;
    padding-right: 2px;
    position: relative;
}
nav a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(255, 255, 255);
    transition: width 0.3s;
}
nav a:hover::after{
    width: 90%;
}
a.ex1:hover{font-size: 100%;}
a.ex2:hover{font-size: 100%;}
a.ex3:hover{font-size: 100%;}
a.ex4:hover{font-size: 100%;}
a.ex5:hover{font-size: 100%;}
a.ex6:hover{font-size: 100%;}
main{
    min-height: 100vh;
    background: linear-gradient(to right top,#65dfdf,#283c94);
    display: flex;
    align-items: center;
    justify-content: center;
}
.glass{
    background: white;
    height: 100vh;
    width: 80%;
    background: linear-gradient(to right bottom,rgba(255,255,255,0.7),rgba(255,255,255,0.3));
    background-position: cover;
    border-radius: 2rem;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 100px;
}
.glass h1{
    font-size: 40px;
    font-family: sans-serif;
    padding-top: 10px;
    padding-left: 600px;
    position: absolute;
}
.glass p{
    font-size: 15px;
    line-height: 18px;
    color: #777;
    padding-left: 310px;
    padding-right: 200px;
    position: absolute;
    padding-top: 70px;
}
.trt1{
    float: left;
    width: 305px;
    height: 250px;
    padding: 10px 10px;
     /*border-radius:top,right,bottom,left;*/
    border-radius: 20px 0px 0px 0px;
}
.trt2{
    float: left;
    width: 305px;
    height: 250px;
    padding: 10px 10px;
}
.trt3{
    float: left;
    width: 305px;
    height: 250px;
    padding: 10px 10px;
    /*border-radius:top,right,bottom,left;*/
    border-radius: 0px 0px 0px 20px;
}
.inner-gls{
    background: white;
    min-height: 100vh;
    width: 25%;
    border-left: 2rem;
    border-right: none;
    text-align: center;
    /*border-radius:top,right,bottom,left;*/
    border-radius: 20px 0px 0px 20px;
}